html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #DDD;
}

a {
  text-decoration: none;
  color:blueviolet;
}

a:visited {
  color: initial;
  color:blueviolet;
}

/* CLase general */

.section-h3 {
  color: #fe7562;
  text-align: center;
  font-size: 1.5em;
}

/* Seccion header */

.header {
  background-image: url(../img/header-img.avif);
  background-size: cover;
  height: 150px;
}

/* Section Primaria */
.primaryInfoContainer {
  margin-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 30px; */
  border-bottom: 5px dashed rgba(99, 164, 208, .5);
} 

/* Seccion de Contacto */

.fa-brands, .fa-solid {
  color: #63a4d0;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
  align-items: flex-end;
}

.contact-info ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contact-info li {
  text-align: right;
  margin-bottom: 20px;
  color:blueviolet;
}

.contact-info h3 {
  font-size: 1.3em;
  margin: 10px;
}

.contact-info i {
  padding-right: 5px;
}


/* Seccion foto perfil */

.profile-picture {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-picture img {
 border-radius: 50%; 
 object-fit: cover;
 object-position: center;
 padding: 7px;
 border: 2px dashed #82b6d9;
}

/* Seccion de nombre y titulo */

.name {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
}

.name h2 {
  color: #63a4d0;
  margin: 0;
}

.name h3 {
  font-family: 'Outfit', sans-serif;
  color: rgba(99, 164, 208, .8);
}

/* Seccion Tech y Experiencia */

.techAndExp {
  display: flex;
}

.borde-container {
  display: flex;
  align-items: center;
}

.borde {
  display: block;
  height: 75%;
  width: 4px;
  background-color: rgba(99, 164, 208, .4);
  border-radius: 999px;
}

/* Seccion Exp */

.exp {
  flex: 1;
  /* border-left: 4px solid rgba(99, 164, 208, .3) */
}

.exp-flex ul {
  list-style: none;
  text-align: center;
}

.exp-flex li {
  margin-bottom: 20px;
}

/* Seccion tech */

.techinfo {
  flex: 1;
}

.techinfo__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.techinfo__ul-container {
  flex-basis: 500px;
  flex: 1;
  
}

.techinfo__ul-container ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.techinfo__ul-container li {
  display: inline-block;
  margin-right: 35px;
}

.techinfo__ul-container i {
  font-size: 5.5em;
}

#js {
  color: #d4b830;
}

@media screen and (max-width: 610px) {

  .techAndExp {
    flex-direction: column;
  }

  .contact-info {
    flex-basis: 100%;
    align-items: center;
  }

  .contact-info li {
    text-align: center;
  }

  .techinfo__ul-container li {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .name {
    flex-basis: 100%;
    align-items: center;
  }
}